@model Product
@{
    ViewData["Title"] = "Create";
}



<form asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
   
    <div class="mb-3">
        <label asp-for="Name" class=" form-label"></label>
   <input asp-for="Name" class="form-control" />
        <strong><span asp-validation-for="Name" class="text-danger"></span></strong>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class=" form-label"></label>
        <input asp-for="Price" class="form-control" />
        <strong><span asp-validation-for="Price" class="text-danger"></span></strong>
    </div>
    <div class="input-group mb-3">
  
        <input type="file" name="imageFile" id="imageFile" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class=" form-label">Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
            <option value="">Hepsi</option>
        </select>
        <strong><span asp-validation-for="CategoryId" class="text-danger"></span></strong>



    </div>
    <div class="mb-3 form-check">
       
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
        <strong><span asp-validation-for="IsActive" class="bg-danger"></span></strong>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>